<div class="col-md-6">
  <div class="card flex-md-row mb-4 box-shadow">
    <div class="card-body d-flex flex-column align-items-start">
      <strong class="d-inline-block mb-2 text-primary">Question</strong>
      <p class="card-text mb-auto"><%= markdown(question.digest) %></p>
      <div class="mb-1 text-muted"><%= question_owner(question) %></div>
      <div class="mb-1 text-muted"><%= question.created_at %></div>
      <%= link_to "Show more", question %>
    </div>
  </div>
</div>
