<h1 class="display-4 font-italic">Your Questions</h1>

<% if @questions %>
<div class="row mb-2">
  <% @questions.each do |question| %>
  <%= render question %>
  <% end %>
</div>
<% else %>
You don't have any questions yey. Why not <%= link_to "create one", new_question_path %>?
<% end %>
