<%= form_for(@question) do |f| %>
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Your question</h1>
      <div contenteditable></div>
      <p class="lead my-3"><%= f.text_area :body, cols: 30, rows: 5, placeholder: "You can use markdown here...", class: "text-white rounded bg-dark" %></p>
      <%= f.submit class: "btn btn-light" %>
    </div>
  </div>
<% end %>
