<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        Question from <%= question_owner(@question) %>
      </h3>

      <div class="blog-post">
        <!-- <h2 class="blog-post-title">Sample blog post</h2> -->
        <p class="blog-post-meta"><%= @question.created_at %> by <%= question_owner(@question) %></p>
        <%= markdown @question.body %>
      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->
  </div><!-- /.row -->

  <% @question.answers.each do |answer| %>
    <div class="row">
      <div class="col-md-8 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom">
          Answer from <%= question_owner(answer) %>
        </h3>

        <div class="blog-post">
          <!-- <h2 class="blog-post-title">Sample blog post</h2> -->
          <p class="blog-post-meta"><%= answer.created_at %> by <%= question_owner(answer) %></p>
          <%= markdown answer.body %>
        </div><!-- /.blog-post -->
      </div><!-- /.blog-main -->
    </div><!-- /.row -->
  <% end %>
</main><!-- /.container -->

<%= form_for [@question, Answer.new] do |f| %>
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Your answer</h1>
      <p class="lead my-3">
        <%= f.text_area :body, cols: 30, placeholder: "", class: "text-white rounded bg-dark" %>
      </p>
      <%= f.submit class: "btn btn-light" %>
    </div>
  </div>
<% end %>
