<% if @random_quote %>
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <p class="lead my-3"><%= markdown(@random_quote.digest) %></p>
      <p class="lead mb-0"><%= link_to "Show more", @random_quote, class: "text-white font-weight-bold" %></p>
    </div>
  </div>
<% end %>

<div class="row mb-2">
  <%= render @recent_sample %>
</div>
