<div class="col-md-6">
  <div class="card flex-md-row mb-4 box-shadow">
    <div class="card-body d-flex flex-column align-items-start">
      <strong class="d-inline-block mb-2 text-success">Answer</strong>
      <p class="card-text mb-auto"><%= markdown(answer.digest) %></p>
      <div class="mb-1 text-muted"><%= answer.created_at %></div>
      <div class="mb-1 text-muted"><%= question_owner(answer) %></div>
      <%= link_to "Show more", answer.question %>
    </div>
  </div>
</div>
